@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');







.logo-img{
    width: 180px;   
}

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .menu-item{
    color:black;
    font-size: 10pt;
    padding-top: 30px;
    padding-bottom: 10px;
  }

   .menu-item:hover{
    color:darkgreen;

  }